<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="text-center">
    Please enter your email address to request a password reset.
  </p>
  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" #passwordResetEmail required></ion-input>
  </ion-item>

  <ion-button
    size="small"
    (click)="authService.ResetPassword(passwordResetEmail.value)"
    >Reset Password</ion-button
  >
  <ion-button size="small" color="success" routerLink="/login">
    Sign in</ion-button
  >
</ion-content>
