<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div class="center">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" #password required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="danger"
            expand="block"
            (click)="authService.SignIn(email.value, password.value)"
            >Sign In</ion-button
          >
          <a style="margin-left: 1rem">
            <span routerLink="/reset-password">Forgot Password?</span>
          </a>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
