<ion-content>
  <div class="center">
    <ion-card mode="ios" color="success">
      <ion-card-header>
        <ion-card-title>Success !</ion-card-title>
      </ion-card-header>

      <ion-card-content
        >Hi <b>{{authService.userData?.displayName}}</b> You have succesfully
        subscribed to course : {{course.title}} for <b>{{course.price}}</b> $
        <br />
        <b>Date : {{currentDate()}}</b>
      </ion-card-content>
      <ion-button [routerLink]="['/home']" style="margin: 1rem" expand="block">
        Return to courses list
      </ion-button>
    </ion-card>
  </div>
</ion-content>
