<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-data">
    <ion-avatar slot="start" *ngIf="authService.userData.photoURL != null">
      <img src="{{authService.userData.photoURL}}" />
    </ion-avatar>
    <h1>{{authService.userData.displayName}}</h1>
    <p>ID: <strong>{{authService.userData.uid}}</strong></p>
    <p>Email: <strong>{{authService.userData.email}}</strong></p>
    <p>
      Email is Verified: <strong>{{authService.userData.emailVerified}}</strong>
    </p>
  </div>
</ion-content>
