<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label [routerLink]="['/profile']">Profile</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <ion-label style="color: red" (click)="authService.SignOut()"
            >Sign out</ion-label
          >
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Courses List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card *ngFor="let course of courses">
        <img
          src="{{course.imageUrl}}"
          style="height: 200px; width: 100%; object-fit: cover"
        />
        <ion-card-header>
          <ion-card-title>{{course.title}}</ion-card-title>
          <ion-card-subtitle>Created by: {{course.author}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> {{course.description}} </ion-card-content>
        <ion-button
          style="margin: 1rem"
          expand="block"
          (click)="moreDetails(course)"
        >
          More details
        </ion-button>
      </ion-card>
    </ion-content>
  </div>
</ion-app>
