<ion-content>
  <div class="auth-form" center>
    <ion-col>
      <ion-button
        [routerLink]="['/registration']"
        expand="block"
        color="primary"
        >Register</ion-button
      >
      <span class="already">Already a user?</span>
      <ion-button [routerLink]="['/login']" expand="block" color="success">
        Sign In</ion-button
      >
      <ion-button
        expand="block"
        color="danger"
        (click)="authService.GoogleAuth()"
      >
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Sign In with Google</ion-button
      >
      <ion-button
        expand="block"
        color="primary"
        (click)="authService.FacebookAuth()"
      >
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        Sign In with Facebook</ion-button
      >
    </ion-col>
  </div>
</ion-content>
