.auth-form {
  display: flex !important;
  align-content: center !important;
  height: 100vh;
  align-items: center !important;
  background-image: url(https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.already {
  margin-top: 2rem;
  display: block;
  text-align: center;
  padding-bottom: 10px;
  color: #fff;
}
